html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url(images/bg-pattern-top.svg);
    background-color:  hsl(185, 75%, 39%);
    font-family: Kumbh Sans, Helvetica, sans-serif;
    font-size: 18px;
}

.card-container {
    background: url(images/bg-pattern-card.svg) no-repeat;
    background-color: white;
    border-radius: 14px;
    margin: 100px auto;
    text-align: center;
    width: 330px;
    max-width: 100%;
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pic {
    padding-top: 85px;
}

.profile-pic img {
    border-radius: 50%;
    border: 5px white solid;
}

.bio {
    text-align: center;
    margin: 20px 0px 10px 0px;
    color: hsl(229, 23%, 23%);
    padding-bottom: 10px;
    border-bottom: 0.1px lightgray solid;
    font-weight: 700;
}

#age {
    display: inline;
    color: hsl(0, 0%, 59%);
    padding: 4px;
    font-weight: 400;
}

#location {
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    padding: 12px;
    font-weight: 400;
}

.stats {
    display: inline-flex;
    padding-top: 10px;
}

#followers, #likes, #photos {
    margin: 0 25px;
}

.numbers {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    padding: 5px;
    font-size: 16px;
}

.stat-names {
    font-weight: 400;
    font-size: 10px;
    color: hsl(0, 0%, 59%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

/* @media screen and (max-width: 300px) {

.card-container {
    margin: 100px auto;
    text-align: center;
    width: 250px;
    max-width: 90%;
    height: 230px;
}

}
 */
